@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");

@font-face {
  font-family: "DINNextLTW23-Regular";
  src: url("assets/fonts/din-next-lt-w23/din-next-lt-w23-regular.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/din-next-lt-w23/din-next-lt-w23-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("assets/fonts/din-next-lt-w23/din-next-lt-w23-regular.otf") format("opentype"), /* Open Type Font */
  url("assets/fonts/din-next-lt-w23/din-next-lt-w23-regular.svg") format("svg"), /* Legacy iOS */
  url("assets/fonts/din-next-lt-w23/din-next-lt-w23-regular.woff") format("woff"), /* Modern Browsers */
  url("assets/fonts/din-next-lt-w23/din-next-lt-w23-regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
